<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>키워드 수정 페이지</title>
    <th:block layout:fragment="css"></th:block>
    <th:block layout:fragment="script"></th:block>

</head>
<body>
<div layout:fragment="content" class="content">
    <div class="admin_sidebar">
        <h2>관리자 메뉴</h2>
        <ul>회원 관리
            <li><a th:href="@{/admin/customer}">회원조회</a></li>
        </ul>
        <ul>키워드 관리
            <li><a th:href="@{/admin/keyword}">키워드 추가</a></li>
            <li><a th:href="@{/admin/keyword}">키워드 수정</a></li>
            <li><a th:href="@{/admin/keyword}">키워드 삭제</a></li>
        </ul>
        <ul>커뮤니티 관리
            <li><a th:href="@{/admin/community}">게시글 삭제</a></li>
        </ul>
        <ul>건의함 관리
            <li><a th:href="@{/suggestion/box}">건의글 수정</a></li>
            <li><a th:href="@{/suggestion/box}">건의글 삭제</a></li>
        </ul>

    </div>
    <div class="admin_keyword_content">
        <h2>키워드 목록</h2>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">KeyWord</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <tr th:each="keyword : ${keywords}" th:object="${keyword}">
            <th scope="row">
                <input type="radio" name="selectedKeyword" th:text="*{keywordId}" th:id="*{keywordId}">
            </th>
            <td th:text="*{keyword}">호캉스</td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/admin/insert/keyword}" class="btn btn-primary">추가</a>
<!--    <a th:href="@{/admin/update/keyword}" class="btn btn-success">수정</a>-->
    <a onclick="goToUpdateKeyword()" class="btn btn-success">수정</a>
    <script>
        function goToUpdateKeyword() {
            // 선택된 라디오 버튼을 가져오기
            const selectedRadio = document.querySelector('input[name="selectedKeyword"]:checked');

            if (!selectedRadio) {
                alert("수정할 키워드를 선택해 주세요.");
                return;
            }

            const keywordId = selectedRadio.value;

            // 선택된 keywordId를 수정 페이지로 전달
            window.location.href = `/admin/updateKeyword`;
        }
    </script>
    <a onclick="sendSelectedRadioIdKeyword()" class="btn btn-danger">삭제</a>
    <script>
        function sendSelectedRadioIdKeyword() {
            const selectedRadio = document.querySelector('input[name="keyword"]:checked');

            if (!selectedRadio) {
                alert("삭제할 키워드를 선택해 주세요.");
                return;
            }

            const id = selectedRadio.id;
            const url = `/admin/${id}/delete/keyword`;

            fetch(url, {
                method: 'DELETE'
            })
            .then(response => {
                location.reload();
            });
        }
    </script>

</div>
</body>
</html>
