<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>회원정보 수정 페이지</title>
    <th:block layout:fragment="css"></th:block>
    <th:block layout:fragment="script"></th:block>

</head>
<body>
<div layout:fragment="content" class="content">
    <div class="admin_sidebar">
        <h2>관리자 메뉴</h2>
        <ul>회원 관리
            <li><a th:href="@{/admin/customer}">회원조회</a></li>
        </ul>
        <ul>키워드 관리
            <li><a th:href="@{/admin/keyword}">키워드 추가</a></li>
            <li><a th:href="@{/admin/keyword}">키워드 수정</a></li>
            <li><a th:href="@{/admin/keyword}">키워드 삭제</a></li>
        </ul>
        <ul>커뮤니티 관리
            <li><a th:href="@{/admin/community}">게시글 삭제</a></li>
        </ul>
        <ul>건의함 관리
            <li><a th:href="@{/suggestion/box}">건의글 수정</a></li>
            <li><a th:href="@{/suggestion/box}">건의글 삭제</a></li>
        </ul>

    </div>
    <div class="admin_customer_content">
        <h2>회원정보 목록</h2>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">UserNo</th>
                <th scope="col">UserId</th>
                <th scope="col">UserPassword</th>
                <th scope="col">UserNickName</th>
                <th scope="col">UserName</th>
                <th scope="col">UserEmail</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            <tr th:each="user : ${usersList}" th:object="${user}">
                <th scope="row">
                    <input type="radio" name="customer" th:id="*{userNo}">
<!--                    th:text="*{userNo}" th:id="*{userId}"-->
                </th>
                <td th:text="*{userNo}">2</td>
                <td th:text="*{userId}">ABCDEFG</td>
                <td th:text="*{userPassword}">987654321</td>
                <td th:text="*{userNickname}">Dr.Duck</td>
                <td th:text="*{userName}">김해찬</td>
                <td th:text="*{userEmail}">EMAIL@naver.com</td>
                <td></td>
            </tr>
            </tbody>
        </table>
        <a onclick="sendSelectedRadioIdCustomer()" class="btn btn-danger">회원 삭제</a>
        <script>
            function sendSelectedRadioIdCustomer() {
                const selectedRadio = document.querySelector('input[name="customer"]:checked');

                if (!selectedRadio) {
                    alert("삭제할 사용자를 선택해 주세요.");
                    return;
                }

                const id = selectedRadio.id;
                const url = `/admin/${id}/delete/customer`;


                fetch(url, {
                    method: 'DELETE',
                     headers: {
                'Content-Type': 'application/json'
                // 'X-CSRF-Token': 'YOUR_CSRF_TOKEN' // CSRF 토큰 필요 시 추가
                    }
                })
                .then(response => {
                    location.reload();
                });
            }
        </script>
    </div>
</div>
</body>
</html>
