<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </th:block>
    <title>Title</title>
</head>
<body>
  <h1>00님의 여행 성향 테스트 결과 페이지</h1>
  <h2>[[ ${myResult.resultTitle} ]]</h2>
    <h3>[[ ${myResult.description} ]]</h3>
    <div>
        <b>[[ ${myResult.recommendArea1} ]]</b>
        <ul>
            <li><b>[[ ${myResult.areaName1} ]]</b></li>
            <li>[[ ${myResult.areaDescription1} ]]</li>
        </ul>
    </div>
    <div>
        <b>[[ ${myResult.recommendArea2} ]]</b>
        <ul>
            <li><b>[[ ${myResult.areaName2} ]]</b></li>
            <li>[[ ${myResult.areaDescription2} ]]</li>
        </ul>
    </div>
  <button><a th:href="@{/typeTest}">다시 테스트하기</a></button>
  <button><a th:href="@{/main}">여행하러 가자~!</a></button>

  <script>
      // 세션 스토리지에서 'visitedResultPage' 플래그 확인
      if (sessionStorage.getItem('visitedResultPage')) {
          // 플래그가 이미 존재하면 리다이렉트
          window.location.href = "/typeTest";
      } else {
          // 처음 방문 시 플래그 설정
          sessionStorage.setItem('visitedResultPage', 'true');
      }
  </script>
</body>
</html>
