<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/showPost.css}">
    </th:block>
</head>
<body>
<div layout:fragment="content" class="content">
    <h1>게시물 수정</h1>
    <form th:action="@{/community/{id}/update(id=${dto.postId})}" method="post" id="com_np_form" class="com_np_form">
        <div>
            <label>글 제목</label>
            <input type="text" th:field="${dto.postTitle}" required>
        </div>
        <div>
            <label>글 작성자</label>
            <input type="text" th:value="${dto.users.userNickname}" disabled>
        </div>
        <div>
            <label>여행 장소</label>
            <p id="selectedAddress">여행 장소가 여기에 표시됩니다.</p>
        </div>
        <div>
            <label>여행 날짜</label>
            <!--            <input type="date" id="startDate" required th:value="${dto.startDate}"> ~-->
            <!--            <input type="date" id="endDate" required th:value="${dto.endDate}">-->
        </div>
        <div>
            <label>이용한 숙소</label>
            <!--            <input type="text" th:field="${dto.accommodation}">-->
        </div>
        <div>
            <label>이용한 식당</label>
            <!--            <input type="text" th:field="${dto.restaurant}">-->
        </div>
        <div>
            <label>관광지</label>
            <!--            <input type="text" th:field="${dto.attractions}">-->
        </div>
        <div>
            <label for="keyword">키워드 선택:</label>
            <select id="keyword" th:field="${dto.keyword.keywordId}">
                <th:block th:each="keyword : ${allKeywords}">
                    <option th:value="${keyword.keywordId}" th:text="${keyword.keyword}"></option>
                </th:block>
            </select>
        </div>
        <div>
            <label>글쓰기</label>
            <textarea cols="20" rows="7" th:field="${dto.postContent}" required></textarea>
        </div>
        <input class="com_btn_newPost" id="com_reset" type="reset" value="취소">
        <input class="com_btn_newPost" id="com_new_okay" type="submit" value="수정하기">
    </form>
</div>
</body>
</html>
