<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </th:block>
</head>
<body>
<div layout:fragment="content" class="sp_content">
    <h1 th:text="${dto.postTitle}"></h1>
    <p th:text="${dto.users.userNickname}"></p>
    <div th:text="${dto.postContent}"></div>
    <a href="/community" class="sp_btn sp_btn_secondary">목록</a>

    <form th:object="${comment}"
          th:action="@{/community/{postId}/comments/{commentId}(postId=${postId}, commentId=*{commentId})}"
          method="post" id="form" class="sp_comment">
        <div class="m-2">
            <label class="sp_comment_head">닉네임</label>
            <input type="text" class="form_control" name="commentNickname" th:field="*{commentNickname}" disabled>
        </div>
        <div class="m-2">
            <label class="comment_text_write">댓글 내용</label>
            <textarea class="form_control" id="uc_body" rows="3" name="commentContent" th:field="*{commentContent}"></textarea>
        </div>
        <input type="reset" value="취소" class="btn btn_secondary" id="sp_btn_reset">
        <input type="submit" value="확인" class="btn btn_primary" id="sp_btn_submit">
        <input type="hidden" th:value="${dto.postId}">
    </form>

    <script src="/js/jQuery.js"></script>
    <script th:inline="javascript">
        $(document).ready(function () {
          console.log("JavaScript loaded successfully");

          // 댓글 취소 버튼 클릭 시 동작
          $(document).on("click", "#sp_btn_reset", function () {
            let postId = $(this).next().next().val();
            location.href = '/community/'+postId;
          });

          // 등록 버튼 클릭 시 동작
          $("#sp_btn_submit").on("click", function (event) {
            event.preventDefault();

            // 내용이 비어있는지 확인
            if ($("#uc_body").val() == "") {
              alert("내용을 입력하세요.");
              $("#uc_body").focus();
              return;
            }

            // 폼 제출
            $("form").submit();
          });
        });
    </script>
</div>
</body>
</html>
