<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>내 커뮤니티 목록</title>
    <th:block layout:fragment="css"></th:block>
    <th:block layout:fragment="script"></th:block>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .myCommunityContainer {
            text-align: center;
        }
        li {
        list-style-type: none;
        }
        /* 수직 메뉴바 스타일 */
        .nav {
            background-color: #343a40; /* 어두운 회색 */
            padding: 15px;
            border-radius: 5px; /* 모서리 둥글게 */
        }

        .nav-link {
            color: #d6d6d6; /* 메뉴 링크 색상 */
        }
    </style>
</head>
<body>
<div layout:fragment="content" class="content">
    <div id="myCommunityContainer" class="myCommunityContainer">
        <!-- 수직 메뉴바 -->
        <div class="d-flex">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                       th:href="@{/myPage/{userId}(userId=${session.loginId})}">마이페이지</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/myPage/info/{userId}(userId=${session.loginId})}">내 정보 관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/myPage/list/{userId}(userId=${session.loginId})}">나의 계획</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/myPage/community/{userId}(userId=${session.loginId})}">내 커뮤니티</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/suggestion/new}">건의함</a>
                </li>
            </ul>
            <!-- 커뮤니티 목록 -->
            <div class="ml-4">
                <h3>커뮤니티에 게시한 글 목록
                    <a th:href="@{/community}">커뮤니티로 이동</a></h3>
                <hr>
                <div th:each="post : ${dto.posts}" th:object="${post}">
                    <label th:text="*{insertedDate}"> 2024 / 10 /23 </label>
                    <span><a th:href="@{/community/{id}(id=*{postId})}" th:text="*{postTitle}">부산여행기</a></span>
                </div>
            </div>
            <div class="ml-4">
                <h3><a th:href="@{/community/new}">글 작성하러 가기</a></h3>
            </div>
        </div>
    </div>
</div>
</body>
</html>
