<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>내 정보 관리</title>
</head>
<body>
    <div id="myInfoContainer" class="myInfoContainer">
        <h1>내 정보 관리</h1>
        <!--메뉴바 들어갈 곳 -->
        <th:block th:replace="~{myPage/myMenu :: myMenu}"></th:block>

        <!--내 정보 수정-->
        <div>
            <h3>정보 변경 시 주의사항 ! 들어갈 곳</h3>
            <hr>
            <form action="/myPage/update">
                <div>
                    <label> 아이디 : py ****</label>
                </div>
                <div>
                    <label> 비밀번호 : ******** </label>
                </div>
                <div>
                    <label> 이름 : 박 ** </label>
                </div>
                <div>
                    <label> 닉네임 : 서나 </label>
                </div>
                <div>
                    <label> 이메일 : py****@naver.com</label>
                </div>
                <input type="submit" value="수정하기">
            </form>
        </div>
    </div>
    <style>
        .myInfoContainer {
            text-align: center;
        }
    </style>
</body>
</html>