<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">

<div th:fragment="myMenu">
  <div>
    <ul class="myMenu">
      <a href="/myPage">마이페이지</a>
      <a href="/myPage/info">내 정보관리</a>
      <a href="/myPage/list">나의 여행계획</a>
      <a href="/myPage/community">나의 커뮤니티</a>
    </ul>
  </div>
  <style>
    .tl {
        text-align: center;
    }
    li {
        list-style-type: none;
    }

    .myMenu a{
            background-color:#A9E2F3;
            color:000000;
            padding:8px;
            text-decoration: none;
            text-align: center;
            font-weight: bold;
    }
    .myMenu a:hover {
            background-color: #8FBEEC;
            color:white
    }
  </style>
</div>
