<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
    <th:block layout:fragment="css"></th:block>
    <th:block layout:fragment="script"></th:block>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .myPageMainContainer {
            text-align: center;
        }
        li {
        list-style-type: none;
        }

        /* 수직 메뉴바 스타일 */
        .nav {
            background-color: #343a40; /* 어두운 회색 */
            padding: 15px;
            border-radius: 5px; /* 모서리 둥글게 */
        }

        .nav-link {
            color: #d6d6d6; /* 메뉴 링크 색상 */
        }
    </style>
</head>
<body>
<div layout:fragment="content" class="content">
    <div id="myPageMainContainer" class="myPageMainContainer">
        <!-- 수직 메뉴바 -->
        <div class="d-flex">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/myPage/{userId}(userId=${session.loginId})}">마이페이지</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/myPage/info/{userId}(userId=${session.loginId})}">내 정보 관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/myPage/list/{userId}(userId=${session.loginId})}">나의 계획</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/myPage/community/{userId}(userId=${session.loginId})}">내 커뮤니티</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">건의함</a>
                </li>
            </ul>
            <div class="d-flex flex-column">
                <!--내 정보 요약-->
                <div class="ml-4">
                    <h3>[[${dto.userId}]]님의 마이페이지입니다</h3>
                    <hr>
                    <a th:href="@{/myPage/info/{id}(id=1)}">수정</a>
                    <div th:each="user : ${dto}" th:object="${user}">
                        <p>
                            <label> 아이디 : </label>
                            <span id="userId" th:text="*{userId}"></span>
                        </p>
                        <p>
                            <label> 이름 : </label>
                            <span id="userName" th:text="*{userName}"></span>
                        </p>
                        <p>
                            <label> 닉네임 : </label>
                            <span id="userNickname" th:text="*{userNickname}"></span>
                        </p>
                        <p>
                            <label> 이메일 : </label>
                            <span id="userEmail" th:text="*{userEmail}"></span>
                        </p>
                    </div>
                </div>

                <!-- 계획 리스트 요약 -->
                <div class="ml-4">
                    <h3>나의 계획 리스트</h3>
                    <hr>
                    <span th:each="travel : ${list}" th:object="${travel}">
                        <input type="radio" name="radio" th:value="*{travelId}" onclick="showForm(this.value)" checked>
                        <span th:text="${#strings.substring(travel.startDate, 0, 4)}"></span><span>년</span>
                        <span th:text="${#strings.substring(travel.startDate, 5, 7)}"></span><span>월</span>
                        <span th:text="*{place}"></span>
                    </span>
                    <p>
                        <a th:href="@{/myPage/list/{id}(id=1)}">수정</a>
                    </p>
                    <form class="form-section" th:each="travel : ${list}" th:object="${travel}" th:id="*{travelId}">
                        <p>
                            <label>키워드 : </label>
                            <span th:text="*{keyword}">힐링</span>
                        </p>
                        <p>
                            <label>지역 : </label>
                            <span th:text="*{place}">가평</span>
                        </p>
                        <p>
                            <label>출발일 : </label>
                            <span th:text="${#strings.substring(travel.startDate, 0, 4)}"></span><span>년</span>
                            <span th:text="${#strings.substring(travel.startDate, 5, 7)}"></span><span>월</span>
                            <label>도착일 : </label>
                            <span th:text="${#strings.substring(travel.endDate, 0, 4)}"></span><span>년</span>
                            <span th:text="${#strings.substring(travel.endDate, 5, 7)}"></span><span>월</span>
                        </p>
                        <label>숙박 : </label>
                        <div th:each="ac : ${accom}" th:object="${ac}">
                            <p th:text="*{accommodationName}">00 풀빌라</p>
                        </div>
                        <p>장소 : </p>
                        <p>남이섬</p>
                        <p>춘천 닭갈비</p>
                    </form>
                </div>

                <!-- 커뮤니티 요약 -->
                <div class="ml-4">
                    <h3>나의 커뮤니티 <a href="/community">커뮤니티로 이동</a></h3>
                    <hr>
                    <div th:each="post : ${dto.posts}" th:object="${post}">
                        <label th:text="*{postDate}"> 2024 / 10 /23 </label>
                        <span><a href="" th:text="*{postTitle}">부산여행기</a></span>
                    </div>
                </div>
            </div>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const userIdElement = document.getElementById('userId');
                const userNameElement = document.getElementById('userName');
                const userEmailElement = document.getElementById('userEmail');

                const userId = userIdElement.textContent;
                const userName = userNameElement.textContent;
                const userEmail = userEmailElement.textContent;

                // 이메일을 @으로 구분지어 아이디 일부분 블라인드
                const emailParts = userEmail.split('@');
                const part1 = emailParts[0];
                const part2 = emailParts[1];
                const maskedPart = part1[0] + '*'.repeat(userId.length - 1);

                const maskedId = userId.substring(0, 2) + '*'.repeat(userId.length - 2);
                const maskedName = userName.substring(0, 1) + '*'.repeat(userName.length - 1);
                const maskedEmail = maskedPart + '@' + part2;

                userIdElement.textContent = maskedId;
                userNameElement.textContent = maskedName;
                userEmailElement.textContent = maskedEmail;
            });
            function showForm(selectedValue) {
                document.querySelectorAll('.form-section').forEach(form => {
                    form.style.display = 'none';
                });

                const targetForm = document.getElementById(selectedValue);
                if (targetForm) {
                    targetForm.style.display = 'block';
                }
            }
            window.onload = function() {
                const selectedRadio = document.querySelector('input[name="radio"]:checked');
                if (selectedRadio) {
                showForm(selectedRadio.value);
                }
            }
        </script>
    </div>
</div>
</body>
</html>
