<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>로그인 페이지</h2>
<hr>
<div>
    session 값을 확인 : <span th:text="${session.loginId}"></span>
</div>
<form th:action="@{/loginProc}" method="post">
    <div>
        <label for="userId">아이디 : </label>
        <input type="text" id="userId" name="userId">
    </div>
    <div>
        <label for="userPassword">비밀번호 : </label>
        <input type="password" id="userPassword" name="userPassword">
    </div>
    <p>
        <input type="submit" value="로그인" id="login"/>
    </p>
</form>
<div th:if="${param.error}">
    <p style="color: red;">로그인 실패: 사용자 이름 또는 비밀번호를 확인하세요.</p>
</div>
<a th:href="@{/join}">회원가입</a>
<a th:href="@{/logout}">로그아웃</a>
</body>
<script>
    document.getElementById("login").addEventListener("click", function() {
        var userId = document.getElementById("userId").value;
        var userPw = document.getElementById("userPassword").value;

        if (userId == "") {
            alert("아이디를 입력해주세요.");
            event.preventDefault();
            return;
        }
        if (userPw == "") {
            alert("비밀번호를 입력해주세요.");
            event.preventDefault();
        }
    });
</script>
</html>
