<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
<div>
    <form id="form" th:action="@{/community/new}">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">글번호</th>
                <th scope="col">여행장소</th>
                <th scope="col">제목</th>
                <th scope="col">작성자</th>
                <th scope="col">작성일</th>
                <th scope="col">조회수</th>
            </tr>
            </thead>
            <tbody>
            <div>
                <tr th:each="post : ${posts}" th:object="${post}">
                    <th th:text="*{postId}"></th>
                    <td th:text="*{postId}">부산</td>
                    <td>
                        <a th:href="@{/community/{id}(id=*{postId})}" th:text="*{postTitle}">부산 여행 추천해요</a>
                    </td>
                    <td th:text="*{users.userNickname}">개구리</td>
                    <td th:text="*{postDate}">2024-09-12</td>
                    <td th:text="*{likes}">100</td>
                </tr>

            </div>
            </tbody>
        </table>
        <input type="submit" value="글쓰기" id="newPost">
        <br>
        <a href="/main">메인 화면으로 돌아가기</a>
    </form>
</div>

</body>
</html>
