<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
      xmlns:layout="www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<meta charset="UTF-8">

<!-- 전체 적용될 css -->
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/community.css}">
</th:block>

<!-- 전체 적용될 스크립트 -->
<th:block layout:fragment="script"></th:block>

<body>
<div layout:fragment="content" action="/community" class="content" id="myListContainer">

    <div class="com_left_section">
        <table class="table">
            <h2>나의 여행 목록</h2>
            <tbody>
            <tr th:each="travel : ${travelLists}">
                <td th:text="travel">여행 1</td>
            </tr>
            <tr>
                <td>여행 2</td>
            </tr>
            <tr>
                <td>여행 3</td>
            </tr>

            </tbody>
        </table>
    </div>

    <br>
    <form th:action="@{/community/create}" method="post" id="com_np_form" class="com_np_form">
        <div class="com_right_section">
            <div>
                <label>글 제목</label>
                <input type="text" th:field="${dto.postTitle}">
            </div>
            <div>
                <label>글 작성자</label>
                <input type="text" th:field="${dto.users.userNickname}" th:value="${person.userNickname}" disabled>
            </div>

            <div>
                <label>여행 장소</label>
                <input type="text" th:field="${dto.travel.place}" disabled>
            </div>
            <div>
                <label>여행 날짜</label>
                <input type="date" id="startDate" disabled> ~ <input type="date" id="endDate" disabled>
            </div>
            <div>
                <label>이용한 숙소</label>
                <input type="text" disabled>
            </div>
            <div>
                <label>이용한 식당</label>
                <input type="text" disabled>
            </div>
            <div>
                <label>관광지</label>
                <input type="text" disabled>
            </div>
            <div>
                <label>글쓰기</label>
                <textarea cols="20" rows="7" th:field="${dto.postContent}"></textarea>
            </div>
            <input class="com_btn_newPost" id="com_reset" type="reset" value="취소">
            <input class="com_btn_newPost" id="com_new_okay" type="submit" value="등록">
        </div>

    </form>
</div>

</body>
</html>
