<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
      xmlns:layout="www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<meta charset="UTF-8">

<!-- 전체 적용될 css -->
<th:block layout:fragment="css"></th:block>

<!-- 전체 적용될 스크립트 -->
<th:block layout:fragment="script"></th:block>

<!-- 우리가 작업할 공간 -->
<body>
<div layout:fragment="content" class="content">
    <table class="table m-2">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <!--            <th th:text="${article.id}" scope="row" >1</th>-->
            <!--            <td th:text="${article.title}">제목111</td>-->
            <!--            <td th:text="${article.content}">내용 1111</td>-->
            <th th:text="${dto.postId}" scope="row">1</th>
            <td th:text="${dto.postTitle}">제목111</td>
            <td th:text="${dto.postContent}">내용 1111</td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/community/{id}/update(id=${dto.postId})}" class="btn btn-primary">Edit</a>
    <a th:href="@{/community/{id}/delete(id=${dto.postId})}" class="btn btn-danger">Delete</a>
    <a href="/community">Go to Community List</a>
    <br><br>
<!--    <div class="card m-2" th:each="comment : ${dto.comments}" th:object="${comment}">-->
<!--        <div class="card-header">-->
<!--            <span th:text="*{nickname}">Featured</span>-->
<!--            <a class="btn btn-sm btn-outline-primary" id="comment-update-btn">수정</a>-->
<!--            <a class="btn btn-sm btn-outline-primary" id="comment-delete-btn">삭제</a>-->
<!--            <input type="hidden" th:value="*{id}">-->
<!--        </div>-->
<!--        <div class="card-body">-->
<!--            <p class="card-text" th:text="*{body}">With supporting text below as a natural lead-in to additional content.</p>-->
<!--        </div>-->
<!--    </div>-->

    <!--    <div class="card m-2">-->
    <!--        <div class="card-header">-->
    <!--            <span>Featured</span>-->
    <!--            <a class="btn btn-sm btn-outline-primary">수정</a>-->
    <!--            <a class="btn btn-sm btn-outline-primary" id="comment-delete-btn">삭제</a>-->
    <!--        </div>-->
    <!--        <div class="card-body">-->
    <!--            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
    <!--        </div>-->
    <!--    </div>-->

<!--    <form th:action="@{/articles/{id}/comments(id=${dto.id})}" method="post">-->
<!--        &lt;!&ndash;        <input type="hidden" th:field="${dto.id}">&ndash;&gt;-->
<!--        &lt;!&ndash; 닉네임 입력&ndash;&gt;-->
<!--        <div class="m-2">-->
<!--            <label class="form-label">닉네임</label>-->
<!--            <input type="text" class="form-control" id="new-comment-nickname" name="nickname">-->
<!--        </div>-->
<!--        &lt;!&ndash; 댓글 본문 입력&ndash;&gt;-->
<!--        <div class="m-2">-->
<!--            <label class="form-label">댓글 내용</label>-->
<!--            <textarea  type="text" class="form-control" rows="3" id="new-comment-body" name="body"></textarea>-->
<!--        </div>-->
<!--        &lt;!&ndash; 전송버튼&ndash;&gt;-->
<!--        <button type="button" id="comment-create-btn" class="btn btn-primary">댓글 작성</button>-->
<!--        &lt;!&ndash;        <input type="submit" class="btn btn-primary" id="comment-create-btn" value="댓글 작성"></input>&ndash;&gt;-->
<!--    </form>-->
<!--    <script src="/js/jQuery.js"></script>-->
<!--    <script th:inline="javascript">-->
<!--        $(document).ready(function(){-->
<!--            console.log("JavaScript loaded successfully");-->
<!--            $(document).on("click", "#comment-delete-btn", function(){-->
<!--                let commentId = $(this).next().val();-->
<!--                alert(commentId)-->
<!--                location.href='/articles/comments/'+commentId;-->
<!--            });-->

<!--            $(document).on("click", "#comment-update-btn", function(){-->
<!--                let commentId = $(this).next().next().val();-->
<!--                alert(commentId)-->
<!--                location.href='/articles/comments/view/'+commentId;-->
<!--            });-->

<!--            $("#comment-create-btn").on("click",function(event){-->
<!--                event.preventDefault();-->
<!--                if($("#new-comment-nickname").val()==""){-->
<!--                   alert("닉네임 입력하세요");-->
<!--                   $("#new-comment-nickname").focus();-->
<!--                   return;-->
<!--                }-->
<!--                if($("#new-comment-body").val()==""){-->
<!--                   alert("내용 입력하세요");-->
<!--                   $("#new-comment-body").focus();-->
<!--                   return;-->
<!--                }-->
<!--                $("form").submit();-->
<!--            });-->
<!--        });-->

<!--    </script>-->
</div>
</body>
</html>


