<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
      xmlns:layout="www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<meta charset="UTF-8">

<!-- 전체 적용될 css -->
<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/community.css}">
</th:block>

<!-- 전체 적용될 스크립트 -->
<th:block layout:fragment="script"></th:block>

<body>
<div layout:fragment="content" action="/suggestionBox" class="content" id="myListContainer">

  <form th:action="@{/suggestion/create}" method="post" id="com_np_form" class="com_np_form">
      <div class="com_right_section">
          <div>
              <label>글 제목</label>
              <input type="text" th:field="${dto.suggestionTitle}">
          </div>
          <div>
              <label>글 작성자</label>
              <input type="text" th:value="${myNickname}" disabled>
          </div>
          <div>
              <label>글쓰기</label>
              <textarea cols="20" rows="7" th:field="${dto.suggestionContent}"></textarea>
          </div>
          <input class="sug_btn_newSuggestion" id="sug_reset" type="reset" value="취소">
          <input class="sug_btn_newSuggestion" id="sug_new_okay" type="submit" value="등록">
          <a href="/suggestion/box">건의함으로</a>
      </div>

  </form>
</div>
</body>
</html>
