<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
      xmlns:layout="www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<meta charset="UTF-8">
<title>Title</title>
<th:block layout:fragment="css"></th:block>
<th:block layout:fragment="script"></th:block>
<body>
<div layout:fragment="content" class="content">
  <h2 class="com-title">건의함</h2>
  <form id="form" th:action="@{/suggestion/new}">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">글번호</th>
        <th scope="col">제목</th>
        <th scope="col">작성자</th>
        <th scope="col">작성일</th>
      </tr>
      </thead>
      <tbody>
      <div>
        <tr th:each="suggestion : ${suggestions}" th:object="${suggestion}">
          <th th:text="*{suggestionId}"></th>
          <td>
            <a th:href="@{/suggestion/{id}(id=*{suggestionId})}" th:if="*{openType}==1" th:text="*{suggestionTitle}"></a>
            <span th:unless="*{openType}==1" th:text="'작성자와 관리자만 확인 가능한 글입니다.'"></span>
          </td>
          <td th:if="${suggestion.users != null}">
            <span th:if="*{openType}==1" th:text="*{users.userNickname}"></span>
            <span th:unless="*{openType}==1" th:text="익명"></span>

          </td>
          <td th:text="*{insertedDate != null ? #temporals.format(insertedDate, 'yyyy-MM-dd HH:mm:ss') : ''}"></td>
        </tr>

      </div>
      </tbody>
    </table>
    <button type="submit" id="newSuggestion" class="btn btn-primary">글쓰기</button>
  </form>
  <a href="/main" class="btn btn-secondary">메인</a>
</div>

</body>
</html>
