<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
      xmlns:layout="www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<meta charset="UTF-8">

<!-- 전체 적용될 css -->
<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/style.css}">
</th:block>

<!-- 전체 적용될 스크립트 -->
<th:block layout:fragment="script"></th:block>
<body>

<div layout:fragment="content" class="update_suggestion_comment">
  <h1>[[ ${dto.suggestionTitle} ]]</h1>
  <p th:text="${dto.users != null ? dto.users.userNickname : '익명'}"></p>
  <!--    userNickname = null인 경우 익명으로 처리 일단....-->
  <div class="suggestion_content_before">
    <input class="form-control" th:value="${dto.suggestionContent}" disabled>
  </div>
  <a href="/suggestion/box">건의함으로</a>

  <form th:object="${comment}"
        th:action="@{/suggestion/{suggestionId}/comments/{commentId}(suggestionId=${suggestionId}, commentId=*{commentId})}"
        method="post" id="com_np_form" class="update_suggestion_comment_form">
    <!--    <input type="hidden" th:field="*{commentId}">-->
    <div class="suggestion_comment_all">
      <div class="suggestion_comment_nickname">
        <label class="form-label">닉네임</label>
        <input type="text" class="form-control" id="new-comment-nickname" name="commentNickname"
               th:field="*{commentNickname}" disabled>
      </div>
      <!-- 댓글 본문 입력-->
      <div class="suggestion_comment_content">
        <label class="form-label">댓글 내용</label>
        <textarea type="text" class="form-control" rows="3" id="new-comment-body" name="commentContent"
                  th:field="*{commentContent}"></textarea>
      </div>
      <div class="update_suggestion_comment_buttons">
        <input class="update_suggestion_comment_reset" type="reset" value="취소">
        <input class="update_suggestion_comment_submit" type="submit" value="수정">
        <input type="hidden" th:value="${suggestionId}">
      </div>
    </div>
  </form>
  <script src="/js/jQuery.js"></script>
  <script th:inline="javascript">
    $(document).ready(function () {
      console.log("JavaScript loaded successfully");

      // 댓글 삭제 버튼 클릭 시 동작
      $(document).on("click", ".update_suggestion_comment_reset", function () {
        let suggestionId = $(this).next().next().val();
        location.href = '/suggestion/'+suggestionId;
      });
    });
  </script>
  </div>
  </body>
  </html>
